#player{
  background-color: black;
  display:inline-block;
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
}

img{
  background-color: rgb(70, 70, 70);
}

img:hover{
  background-color: blue;
}

img, #pbar-container, #sbar-container{
  cursor: pointer;
}

#video-container{
  width: 640px;
  height: 360px;

}

video{
  height: 100%;
  width: 100%;
}

#pbar-container{
  height: 5px;
  background-color: black;
  margin-top: 2px;
  padding-bottom: 2px;
}

#pbar{
  height: 5px;
  width:0%;
  background-color: rgb(50,170,220);
}

#buttons-container{
  height: 50px;
}

#buttons-container > *{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin: 0 10px;
}

#time-field{
  color: blue;
  line-height: 50px;
  cursor: default;
}

#sound-button{
  margin-right: 0;
}

#sbar-container{
  width: 100px;
  height: 5px;
  background-color: black;
  margin-left: 0;
}

#sbar{
  height: 100%;
  width: 50%;
  background-color: blue;
}

#fullscreen-button{
  float: right;

}
